body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(138, 57, 57);
}

.section:nth-child(odd) {
    background-color: #DCF5C4;
}

header {
  position: fixed;
  background-color: #f5f5dc;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left { 
  width: 60%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

}
.header-left div {
  width: 50%;
}

.header-left .header-img {
  max-width: 10%;
  border-radius: 5%;
  width: 10%;
}

.header-right {
  width: 40%;
}

header a {
  text-decoration: none;
  padding: 1.25em;
  text-align: center;
  color: black;
  background-color: #f4c2c2;
  border-radius: 5%;
  margin: 0.75em 0.5em;
  float: right;
}

header a:hover {
  background-color: #DBA9A9;
  color: black;
}

header a.active {
  background-color: #C18F8F;
  color: white;
}

.header-left .header-img a img {
  width: 100%;
  margin-left: 1rem;
  border-radius: 5%;
  padding: 0;
  margin: 0;
  float: none;
}

h2 {
  font-family: 'Neucha', cursive;
  font-size: 2.5rem;
}

p {
  font-size: 1.25rem;
  width: 80%;
  margin: 2rem auto;
  line-height: 2.5rem;
}

.section {
  padding-top: 5em;
  padding-left: 1em;
  padding-right: 1em;
}

#home-img {
  padding-top: 6em;
}
#home-img img, #pricing img {
  max-width: 18%;
}

#about img {
  max-width: 50%;
}

.about-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#pricing ul {
  display: flex;
  align-items: space-around;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

#pricing li {
  width: 10%;
  border: 1px solid #DCC4F5;
  margin: 0.25em;
  list-style-type: none;
  padding: 0.5em;
  font-size: 1.25em;
  border-radius: 5%;
}

form {
  width: 50%;
  margin: 1rem auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
form div {
  display: flex;
  margin: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}
input {
  border: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  width: 30%;
}
label {
  margin-right: 0.5rem;
}
textarea {
  width: 50%;
  font-family: 'Open Sans', sans-serif;
  border: none;
  outline: none;
}

#submit {
  display: inline-block;
  padding: 0.5em;
  font-size: 2em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #f4c2c2;
  border: none;
  border-radius: 15px;
 
  margin: 0.5em;
  font-family: 'Neucha', cursive;
}

#submit:hover {background-color: #DBA9A9}

#submit:active {
  background-color: #C18F8F;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

footer {
  text-align: center;
}


@media screen and (max-width: 750px) {
  #pricing li {
    font-size: 0.75em;
  }
  
}
@media screen and (max-width: 500px) {
  
  header h1 {
    font-size: 2em;
  }
  
  header a {
    float: none;
    display: block;
    text-align: left;
  }
  header-right {
    float: none;
  }
  
  #pricing li {
    font-size: 0.5em;
  }
}